$main-font-family: "Montserrat";

$font-width-500: 500;
$font-width-600: 600;
$font-width-700: 700;


$background-base:#ffffff;
$background-blue:#A1E2EB;
$background-btn-green:#339933;
$background-green-gradient:linear-gradient(262.69deg, #339933 -0.43%, #006300 104.36%);
